// Spacing
$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 60px;

// Colors
$main-font: "Roboto", sans-serif;
$primary-color: black;
$secondary-color: #345576;
$background-color: #eeeff1;
$text-light: white;

// Sizes
$button-width: 225px;
$button-height: 65px;
$paragraph-width: 540px;
